<% include partials/header %>


  <h1>Voting Application</h1>

  <% votingApp.map(data=>{ %>
    <div class='panel panel-default'>
    <div class="panel-body text-center">
<%= data.title %>
        <a href="/voting/<%= data._id %>">  <button class=' btn btn-primary pull-right'>Vote</button></a>

    </div>
      </div>

    <% }) %>

      <a href="/voting/new"><button type="button" name="button">Create Vote</button></a>
