<% include partials/header %>
<a href="/voting/new"><button class='btn btn-success form-control' name="button">Create a New Voting POLL</button></a>


  <h1>Voting Application</h1>

  <% votingApp.map(data=>{ %>
    <div class='panel panel-default'>
    <div class="panel-body text-center">
<%= data.title %>

        <a  class='pull-right' href="/voting/<%= data._id %>/remove">  <button class='btn btn-danger'>Delete</button></a>
<a  class='pull-right' href="/voting/<%= data._id %>"> <button class='btn btn-primary'>Vote </button></a>
    </div>
      </div>

    <% }) %>
