<% include partials/header %>
<a href="/register"><button class='btn btn-info'>New User</button></a>

<h1>Login to Voting Application</h1>

<form action="/login" method='post' class="form-group">
  <label for="">Username:</label><input class='form-control' type="text" name='username' placeholder="Enter Useraame">
<label for="">Password</label>  <input type="password" name='password' class="form-control" placeholder="Enter Password">
<button class="btn btn-success">Submit Information</button>
</form>
