<% include partials/header %>

<h1>New Voting App</h1>
<form action="">
  <legend>New App</legend>
  <input type="text" name='title' placeholder="Enter Title">
  <input type="text" name='name1' placeholder='Enter Info'>
  <input type="text" name='name2' placeholder="Enter info">
  <button>Create App</button>
</form>
