<% include partials/header %>

  <form class='form-group' action="/voting/new" method="post">
    <legend>
      <h1>Create a New vote for your Enjoyment
      </h1>
    </legend>
    <input class='form-control' type="text" name='title' placeholder="Enter Title" required="">
    <input class='form-control' type="text" name='name1' placeholder='Enter Info' required="">
    <input class='form-control' type="text" name='name2' placeholder="Enter info" required="">

    <button class='form-control btn btn-primary'>Create App</button>

  </form>
