<% include partials/header %>

  <form class='form-group' action="/voting" method="post">
    <legend>
      <h1>Create a New vote for your Enjoyment
      </h1>
    </legend>
    <input class='form-control' type="text" name='title' placeholder="Enter Title">
    <input class='form-control' type="text" name='name1' placeholder='Enter Info'>
    <input class='form-control' type="text" name='name2' placeholder="Enter info">

    <button class='form-control btn btn-primary'>Create App</button>

  </form>
