.navbar-inverse .navbar-brand {
  color: white
}
.navbar-inverse .navbar-brand:hover{
  color: yellow
}
div.panel-body.text-center {
font-weight: 300;
font-size: 1.5em
}

div.panel-body.text-center:hover {
  background: #7F2982;
  color: white;
  font-weight: bolder;
}
button.btn.btn-primary:hover{
color: white;
background: #5cb85c
}
